# Binaries for programs and plugins
/n8go-docs
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDEs
.vscode/*
.idea/
.cursor/

# Output of n8go-docs generator
docs_gen/
site/
site_test/
site_project/
dist/
